<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="/assets/styles/mine.css" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
</head>

<body>
  <header class="site-header"><a href="/">{{ site.title }}</a></header>
  <main>
    <div class="content">{{ content }}</div>
  </main>
</body>

</html>
